body{
    background: #1e0a23;
    min-height:100vh;
    display:flexbox;
    justify-content:center;
    align-items:center;
    color:#fff;
}
  
select{
border:none;
padding: 10px 20px;
border-radius:5px;
}

select:focus{
outline:none;
}